language: cpp
sudo: false
matrix:
  compiler: "g++-5 -m64"
  addons:
    apt:
      sources:
        - ubuntu-toolchain-r-test
      packages:
        - libssl1.0.0
        - bar
        - time
        - g++-5
        - gfortran-5
before_install:
    - wget https://julialang.s3.amazonaws.com/bin/linux/x64/0.4/julia-0.4.6-linux-x86_64.tar.gz
    - mkdir -p $HOME/local
    - tar -C $HOME/local -xvf julia-0.4.6-linux-x86_64.tar.gz
    - sudo ln -s $HOME/local/julia-2e358ce975/ $HOME/local/julia
    - export PATH=$PATH:$HOME/local/julia/bin
before_script:
  - cd ../
  - git clone https://github.com/mruby/mruby.git
  - cd mruby
  - cp -fp ../mruby-julia/.travis_build_config.rb build_config.rb
script:
  - make all test
