version: "{build}"

os: Visual Studio 2015

clone_depth: 50


environment:
  matrix:
    # Visual Studio 2015 64bit
    - visualcpp: C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat
  machine: amd64
install:
  - cinst winflexbison
  - cinst julia
  - dir %USERPROFILE%\AppData\Loal\Julia-0.5.1\bin
init:
- call "%visualcpp%" %machine%
- set YACC=win_bison
- set PATH=%USERPROFILE%\AppData\Loal\Julia-0.5.1\bin;%PATH%
build_script:
 - cd ..
 - git clone https://github.com/mruby/mruby.git
 - cd mruby
 - set MRUBY_CONFIG=..\mruby-julia\appveyor_config.rb
 - rake all test --trace
